 body {
    margin: 50px auto;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
    background-image: url(../images/Background-Codes1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:900px;
    height: 800px;
    
  
}

#text2{
    font-size: 200%;
    color: bisque;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#picture {
    width: 50%;
    height: 50%;
    display: block;
    margin-right: auto;
    margin-left:auto;
    border-radius:8px;

}
.col-sm-8{
    background-color: black;
}
.col-sm-4{
    background-color: gray;
    
}
#b{
    color:wheat;
}
#a{
    color: wheat;
}
#c{
    color: wheat;;
}
#l{
    color: white;
}
#text{
    color: white;
    font-size: 200%;

    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
